.body-font {
  font-family: "Source Sans Pro", sans-serif;
}
.title-font {
  font-family: "Fjalla One", sans-serif;
}



body {
  .body-font;
  background: @background;
  word-wrap: break-word;
}
.mega-container {
  background: white;
  max-width: 1170px;
  margin: auto;
  margin-top: 20px;
  overflow: visible;
}
a {
  color: @accent;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: @accent;
  }
}
.container {
  margin: auto;
}
